@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
h1{
  text-align: center;
  background-color: rgb(255, 251, 12);
  border-radius: 15px;
  font-family: "Source Sans Pro";

}

body{
  background-color: blueviolet;
}

p{
  background-color: rgb(228, 243, 19);
}